.conversation-panel {
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.messages-container {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
}

.message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.message-avatar {
    margin-right: 10px;
}

.message-content {
    max-width: 80%;
}

.message-header {
    display: flex;
    align-items: center;
}

.message-username {
    font-weight: bold;
    margin-right: 5px;
}

.message-timestamp {
    color: gray;
    font-size: 0.8em;
}

.message-text {
    margin-top: 5px;
}

.date-separator {
    text-align: center;
    font-weight: bold;
    margin: 20px 0;
}

.send-message-form {
    background-color: #fff;
    width: 95%;
    margin-left: 0;
    position: sticky;
    bottom: 0;
    display: flex;
    padding: 10px;
    font-size: 16px;
    border-top: 1px solid #ccc;
}

.send-message-input {
    flex-grow: 1;
    height: 40px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.send-message-button {
    padding: 10px 20px;
    width: 5%;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.send-message-button:hover {
    background-color: #0056b3;
}
