header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}

table{
    width: 50%;
    border: #0a0a0a solid 1px;
}

th{
    border: #0a0a0a solid 1px;
    text-align: center;
}

td{
    border: #0a0a0a solid 1px;
    text-align: center;
}


.navbar{
    position: fixed;
    top: 150px;
    width: 20%;
    height: 100%;
    display: flex;
    text-align: center;
}
.conversation{
    flex: 1;
}